body {
    background-color: beige;
}

.container {
    background-color: rgb(182, 158, 20);
    padding: 40px;
    border-radius: 28px;
    box-shadow: 8px 5px 14px -1px rgb(94, 94, 94);
    -webkit-box-shadow: 8px 5px 14px -1px rgba(94, 94, 94);
    -moz-box-shadow: 8px 5px 14px -1px rgba(94, 94, 94);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    background-color: rgb(223, 212, 164);
    font-weight: 600;
    font-size: 1rem;
    width: 50%; /* To make the inputs take up half of the width on smaller screens */
    margin: 0 auto; /* To center the input fields */
}

.container h2 {
    text-align: center;
    font-size: 26px;
    color: black;
    font-family: sans-serif;
}

.feet,
.inches {
    padding: 7px;
    margin-bottom: 10px;
}

span {
    font-family: sans-serif;
    font-size: 1.2rem;
}

.result {
    font-size: 35px;
    margin-top: 16px;
    color: black;
    text-align: center;
}

.submit {
    width: 50%; /* To make the button take up half of the width on smaller screens */
    height: 35px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(83, 71, 16);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: block; /* To ensure the button is a block-level element */
    margin: 0 auto; /* To center the button */
}
